.mapboxgl-popup-content {
background-color: white;
}
 .mapboxgl-popup {
  z-index: 1000 !important;
}
.mapboxgl-popup-close-button {
  width: 20px;
  height: 20px;
  font-size: 24px;
  cursor: pointer !important;
  top: 11px;
  right: 12px;
  position: absolute;
  border: none !important;
  outline: none !important;
}

.mapboxgl-popup-close-button:hover {
  background-color: transparent;
   cursor: pointer; 
}

.mapboxgl-ctrl-top-right {
  top: auto !important;  
  bottom: 30px !important;  
  right: 0 !important;     
}
