.mapboxgl-popup-content {
  width: 320px !important;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Oswald', sans-serif;
}
.mapboxgl-popup-close-button {
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  top: 5px;
  right: 5px;
  position: absolute;
}

.mapboxgl-popup-close-button:hover {
  background-color: transparent; 
}

.mapboxgl-ctrl-top-right {
  top: auto !important;  
  bottom: 30px !important;  
  right: 0 !important;     
}
