# Node modules
node_modules/

# Environment variables
.env

# Prisma generated client and studio files
/generated/prisma/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache
.npm

# TypeScript build output
dist/
build/

# IDE files (optional)
.vscode/
.idea/
